@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --maskR: 100vh;
    --maskY: 50vh;
}


body{
    background: #000;
    font-family: "Catamaran", sans-serif;
    color: white;
}

html,body{
 }
.preloader {
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
    background: #ece1da;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    z-index: 9999;
}
.preloader img {
    display: block;
}
.preloader-text {
    color: #3b3760;
    font-family: sans-serif;
    margin-top: 1rem;
    font-size: 1rem;
}
.preloader.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}
.wrapper {
    visibility: hidden;
}

.wrapper{
    position:relative;
}

.background-layer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 5669px;
    pointer-events: none;
    background: url("../images/bg.jpg");
    background-size: 100% auto;



}
.content{
    position: relative;
    z-index: 0;
    section{
    }



}
.home{

    min-height: 100vh;
    position: relative;
    overflow: hidden;
    /* máscara */
    z-index:10;
    clip-path: circle(var(--maskR) at 50% var(--maskY));
    background: url("../images/bosque.webp") center/cover no-repeat;
    h1{
        width: 280px;
        height: 94px;
        background: url("../images/logo.svg");
        background-size: 100% auto;
        position: absolute;
        top: 70px;
        left:50%;
        transform: translate(-50%,0);
        text-indent: -9999px;
        animation: entra_logo 1s ease-out;
    }
    .txt {
        position: absolute;
        bottom: 200px;
        left: 10%;
        width: 50%;
        h2{
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%; /* 44px */
            margin-bottom: 0.6em;
        }
        h3{
            font-size: 32px;
            font-style: normal;
            font-weight: 300;
            line-height: 127%; /* 40.64px */
            margin-bottom: 2em;
        }
        button{
            display: inline-flex;
            padding: 19px 46px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 6px;
            background: #000;
            color: #00FFF2;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%; /* 26.4px */
        }
    }
}

@keyframes entra_logo {
    from{
        transform: translate(-50%,-200px);
    }
    to{
        transform: translate(-50%,0);
    }

}
.ovalo{
    position: absolute;
    width: 200px;
    height: 100px;
    z-index: 20;
    top: 200px;
    left:50%;
    transform: translate(-50%,0);
}
.angel-rubi {
    position: relative;
    height: 3206px;

    .algas_largas {
        width: 1530px;
        height: 1471px;
        background: url("../images/algas_largas.png");
       position: absolute;
        top: 2150px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 2;
    }

    .algas_bg {
        width: 1655px;
        height: 1601px;
        background: url("../images/algas_bg.png");
        background-repeat: no-repeat;
        position: absolute;
        top: 1600px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
    }

    .estatua {
        width: 1016px;
        height: 3206px;
        background: url("../images/angel_rubi.png");
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 5;

    }
    .ojos_entrecerrados{
        position: absolute;
        width: 90px;
        height: 18px;
        background: url("../images/ojos_entrecerrados.png");
        top:651px;
        left: 49.8%;
        transform: translate(-50%, 0);
        z-index: 60;
        opacity: 0;                      /* start hidden */
        transition: opacity 0.3s ease;   /* para un fade suave */
        pointer-events: none;
    }
    .ojos_abiertos{
        position: absolute;
        width: 90px;
        height: 18px;
        background: url("../images/ojos_abiertos.png");
        top:651px;
        left: 49.8%;
        transform: translate(-50%, 0);
        z-index: 61;
        opacity: 0;                      /* start hidden */
        transition: opacity 0.3s ease;   /* para un fade suave */
        pointer-events: none;
    }

    .image-slider {                       /* 01 */
        width: 100%;
        overflow:hidden;
        position: absolute;
        top: 1200px;
        z-index: 51;

    }

    .slider-track {                       /* 02 */
        display: flex;

    }

    .slider-item {                        /* 03 */
        flex: 0 0 auto;
        width: auto;
        height: 90px;
        margin-right: 8px;
        opacity: 1;
        transition: opacity 0.3s ease, transform 0.3s ease;
        cursor: pointer;
        filter:grayscale(80%) brightness(0.2);
        img{
            height: 100%;
        }
    }

    .slider-item.active {                 /* 04 */
        opacity: 1;
        filter:initial;

        transition:all 200ms;
    }


    .burbujas1{
        width: 300px;
        height: 1200px;
        background: url("../images/burbujas1.png");
        background-size: 100% auto;
        position: absolute;
        top: 1600px;
        left: 30%;
        z-index: 50;

    }
    .burbujas2{
        width: 100px;
        height: 480px;
        background: url("../images/burbujas2.png");
        background-size: 100% auto;
        position: absolute;
        top: 2400px;
        left: 30%;
        z-index: 52;
    }
    .burbujas3{
        width: 300px;
        height: 1580px;
        background: url("../images/burbujas3.png");
        background-size: 100% auto;
        position: absolute;
        top: 1200px;
        right: 30%;
        z-index: 50;
    }
    .burbujas4{
        width: 100px;
        height: 480px;
        background: url("../images/burbujas2.png");
        background-size: 100% auto;
        position: absolute;
        top: 2400px;
        right: 30%;
        z-index: 52;
    }
}
.toro{
    position: relative;
    height: 1500px;
    .toro_milojos{
        width: 1000px;
        height: 1865px;
        background: url("../images/toro.png");
        position: absolute;
        top: -240px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 4;
    }
}
.bahamut{
    position: relative;
    height: 1829px;
    .gran_bahamut{
        width: 1684px;
        height: 1829px;
        background: url("../images/bahamut.png");
        position: absolute;
        top: -380px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 2;
    }
}
.project-detail {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: #fff;
    overflow-y: auto;
    padding: 2rem;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    color:black;
}

.project-detail.visible {
    opacity: 1;
    pointer-events: auto;
}

.detail-close {
    position: absolute;
    top: 1rem; right: 1rem;
    background: none; border: none;
    font-size: 2rem; cursor: pointer;
}

.detail-title {
    margin-bottom: 1rem;
    font-size: 2rem;
}
.detail-description {
    margin-bottom: 2rem;
}
.detail-images img {
    max-width: 100%;
    margin-bottom: 1rem;
    display: block;
}



